<h1>Assignment 3</h1>
<h2>Answer the following questions:<br></h2>

<br>
<b>1. Create a web app to be able to get the weather of N cities at the same time. The list of cities are going to be text separated by commas and will connect to an end point that will trigger lambdas for each cities. 90 points.

  </b><br><br>
  <a href="http://alonsolarra.s3-website-us-east-1.amazonaws.com/#/WeatherApp"> Weather App</a>

  <br><br>

<b>2. List the 3 main things you need to do in order achieve your professional goals. 10 points.</b><br>

  <li>
    Tener una idea clara de a donde quieres llegar. (No importa si llegas exactamente a donde pensaste, la clave es la motivacion)
    y el seguir creciendo para acercarte a esas metas, aunque estas cambien).
  </li>
  <li>
    Tener claro como llegar a esas metas. ¿Que debo hacer para alcanzarlas?
  </li>
  <li>
    Hacer la tarea a tiempo. (Karen me la soplo...)
  </li>


<br><br>
