<h2>El Estero de Punta Banda visto desde un punto de vista científico</h2>

<p>El Estero de Punta Banda es uno de los principales humedales costeros de la costa occidental de Baja California. Un humedal es una zona de transición de un ecosistema acuático a uno terrestre. Dicha ubicación le permite ser hogar de numerosas plantas y animales. Algunas especies están catalogadas como en peligro de extinción de acuerdo a la normatividad mexicana. Otras utilizan este humedal como parada dentro de sus rutas migratorias de invierno o verano. (<a href="http://proesteros.cicese.mx/humedalesbc.html">ProEsteros, s.f.</a>)</p>

<div id="map" style="height: 400px; width: 100%;"></div>

<p>Un caso de estudio es un proceso de exploración acerca de una situación compleja u objeto que extiende tanto la experiencia como el conocimiento del sujeto de estudio. (<a href="https://www.ischool.utexas.edu/~ssoy/usesusers/l391d1b.htm">Sue Soy, 1997</a>)</p>

<p>Una metodologia a seguir para un caso de estudio ambiental es el siguiente:

<ol>
  <li>Identificar el sujeto del caso de estudio e investigar sobre dicho para tener una mejor idea del qué se pretende descubrir información.</li>
  <li>Encontrar todas las variables pertinentes al tema, resaltando conceptos importantes y recopilando términos técnicos.</li>
  <li>Resaltar cuál es el objetivo del estudio. ¿A qué se quiere llegar con los resultados?</li>
  <li>Plantear una hipótesis que tome en cuenta las variables identificadas.</li>
  <li>Definir uno o varios procedimientos (experimentos) a llevar a cabo para intentar generar resultados pertinentes.</li>
  <li>Realizar los experimentos, catalogando los resultados lo más explícitamente posible. Nunca está de más tener más datos de los necesarios.</li>
  <li>Procesar los datos, utilizando fórmulas, ecuaciones, gráficas, hasta dibujos, con tal de encontrar correlaciones entre las variables y su impacto en el estudio.</li>
  <li>Evaluar los hallazgos y dar una conclusción acerca del estudio. Contestar el cómo se respondió a la pregunta y qué tan acertada fue la hipótesis.</li>
</ol>

<p>A continuación se presentan hallazgos encontrados por estudiantes de CETYS Universidad campus Tijuana que formaron parte de la generación 2013 de Bachillerato Interacional.</p>

<h2>Caso de estudio: Calidad de agua en el Estero de Punta Banda</h2>

<h3>Temperatura (del agua)</h3>
<p>Los metabolismos de las especies marinas están ligadas a la temperatura del agua de su ecosistema, por tanto, la temperatura del agua es una medición de la calidad de vida de sus habitatnes.</p>
<p>
  Se registró una temperatura promedio de 21.175° C en el epilimnion del estero de Punta Banda. La temperatura en esta zona suele estar entre los 20 y los 30° C <a href="http://www.waterontheweb.org/under/waterquality/temperature.html">(Water on the Web, 2008)</a>. Es óptima para el desarrollo de la diatomea, un productor primario en este ecosistema.</p>
<h3>pH (potencial de Hidrógeno)</h3>
<p>En el caso de un ecosistema marino, indica el nivel de agua dulce del ecosistema.</p>
<p>El pH registrado fue de 8.13. Se considera que está dentro del rango óptimo de 6.5 a 8.2 en la escala de pH.</p>
<h3>Oxígeno disuelto</h3>
<p>Parámetro vital para la mayoría de los organismos que viven en el agua.</p>
<p>Las concentraciones más bajas de oxígeno disuelto están en la cabeza del estero <a href="http://proesteros.cicese.mx/investigacion/inv_hum/PuntaBanda/esp/pbprofile.htm">(“Estero de Punta Banda: Perfil del Humedal”, s.f.)</a>. En el estudio, se registró una concentración de oxígeno disuelto de 4.87 partes por millón. Esto es suficiente para que sobrevivan especies animales como los peces, pero no son óptimas para su desarrollo. El mínimo adecuado para esto es una concentración de 6 partes por millón.</p>
<h3>Turbidez</h3>
<p>Turbidez es el grado en el cual el agua pierde su transparencia debido a partículas disueltas en suspensión.</p>
Se registraron 20 unidades de turbidez Jackson en esta prueba. Esto quiere decir que el agua de la muestra es bastante turbia, ya sea debido a que existe en ella una enorme nube de plancton, o aguas fangosas o flujos crecientes de tormentas invernales en ríos. Las pruebas de temperatura y pH también sugieren que existen muchos microorganismos en la cabeza del estero.</p>

<h2>Caso de estudio: Caracterización vegetal en el Estero de Punta Banda</h2>

<h3>Especies características del ecosistema</h3>

El estero es desde 2006 una reserva natural según la convención de Ramsar, y por ello se han tomado acciones para cuidar a las especies que viven ahí. Esto es evidente. Solo en este breve estudio se halló un total de 18 especies, las cuales aparecieron muchas veces a través del ecosistema.</p>
<h3>Escala DAFOR</h3>

<p>La escala DAFOR es una manera de medir que tan abundante es una especie relativa al área de estudio. Sus siglas, en orden:</p>
<ol>
  <li><em>D</em>: Dominante</li>
  <li><em>A</em>: Abundante</li>
  <li><em>F</em>: Frecuente</li>
  <li><em>O</em>: Ocasional</li>
  <li><em>R</em>: Rara</li>
</ol>

<p>Estrategias de supervivencia son <em>r</em> cuando su reproducción es rápida y abundante y <em>k</em> cuando el período de gestáción es más lenta y hay menos crías por camada.</p>

Todas las especies observadas son estrategas <em>r</em>, por sus características de reproducción rápida y presencia en las etapas de colonización en la sucesión ecológica.<br>
Los estrategas <em>r</em> han predominado en el estero por su capacidad de reproducción acelerada, lo cual significa que hasta el momento estas especies no han alcanzado la capacidad de carga del ecosistema, ya que a pesar de su reproducción masiva, como en el caso del <em>Carpobrotus edulis</em>, siguen contando con los nutrientes necesarios para poder seguir reproduciéndose.</p>
<h3>Zonación vegetal</h3>
La marea juega un papel importante en la zonación, porque la marea determina lo que es la gradiente ambiental, que es el cambio gradual de los factores abióticos en un ecosistema.<br>
Como se ve en el último mapa, la distribución de las especies a través del ecosistema genera un patrón de zonación horizontal.</p>

<img src="../images/mapa.png" alt="Mapa de zonación vegetal" style="width:892px;height:632px;">
<img src="images/tabla.png" alt="Tabla de especies observadas" style="width:444px;height:531px;">

<h2>Caso de estudio: Índice de diversidad del área de las dunas dentro del Estero de Punta Banda</h2>

En 2012, la diversidad del área de las dunas en el Estero de Punta Banda es de 3.3125 de acuerdo al índice recíproco de Simpson.<br>
El <em>Carpobrotus edulis</em> ocupa un 37% del total de 653 organismos hallados en el área. Siendo ésta la única especie invasora dentro de las que se hallaron, se ve que predomina en la zona. El hecho de que la población de <em>Carpobrotus edulis</em> sea tan grande a comparación con otras poblaciones en el área estudiada sí repercute en la diversidad de la misma. Sin embargo, no sólo es a causa de la gran población del Carpobrotus edulis, pero también de la gran población de <em>Juncus acutus</em> y <em>Applopapus venetus</em>, las cuales son especies nativas de la zona. Nótese que el <em>Carpobrotus edulis</em> presenta muchos más organismos a comparación del<br>
<em>Hielanthus niveus</em>. Si sus poblaciones fueran más equitativas entonces el índice de diversidad sería mayor.</p>

<img src="images/diversidad.PNG" alt="Gráfica de diversidad de especies observadas" style="width:842px;height:561px;">

</body>

<h2>Caso de estudio: Comparación entre tres tipos de suelos dentro del Estero de Punta Banda</h2>

<p>El siguiente estudio se realizó en enero de 2013 por alumnos de Bachillerato Internacional de CETYS Universidad, Campus Tijuana. Se compararon tres tipos de suelo diferente: arcilloso de Tecate, limoso de Ensenada, y arenoso de Ensenada. Estos últimos dos se tomaron del Estero de Punta Banda.</p>
<h3>Cantidad de agua en el suelo</h3>
Los datos arrojados por el experimento sugieren que a medida que aumenta el tamaño de la partícula de suelo, menos agua va a retener. La Gráfica 2 ilustra esto.</p>

<img src="images/cantidad_agua.png" alt="Comparación de cantidad de agua en tres tipos de suelo" style="width:651px;height:394px;">

<h3>Volumen de aire en el suelo</h3>
Si las partículas de un suelo son muy chicas no dejarán la entrada de aire, y si son demasiado grandes simplemente dejarán que se le escape todo. Esta capacidad del suelo arcilloso para no permitir el paso del aire es una buena razón por la cual algunas sociedades construyen con barro (suelo arcilloso) ya que así evitan que pase el aire (y por lo tanto el frío) a través de sus paredes.</p>

<img src="images/volumen_aire.png" alt="Comparación de volumen de aire en tres tipos de suelo" style="width:787px;height:473px;">

<h3>Contenido de materia orgánica (humus) y nitrógeno</h3>
Los datos muestran que la arena tiene más humus que el limo.El limo tiene más nitrógeno que los otros tipos de suelo.</p>

<img src="images/humus_nitrato.png" alt="Resultados de cantidad de humus y nitrato en tres tipos de suelo" style="width:841px;height:478px;">


<h3>Referencias</h3>
<ul>
  <li>
    <p>Estero de Punta Banda: Perfil del Humedal. (s.f). Recuperado el 23 de junio de 2012 de <a href="http://proesteros.cicese.mx/investigacion/inv_hum/PuntaBanda/esp/pbprofile.htm">http://proesteros.cicese.mx/investigacion/inv_hum/PuntaBanda/esp/pbprofile.htm</a></p>
  </li>
  <li>
    <p>Water on the Web. (2008). <em>Temperature</em>. Recuperado el 18 de junio de 2012 de<br>
      <a href="http://www.waterontheweb.org/under/waterquality/temperature.html">http://www.waterontheweb.org/under/waterquality/temperature.html</a></p>
  </li>
</ul>

<h2>Bibliografía recomendada</h2>

Esperando que se haya despertado en el lector la curiosidad por conocer más los sistemas ambientales del estado de Baja California, se sugiere la siguiente bibliografía.</p>
<ul>
  <li>Crosby, H. (2010). <em>The Cave Paintings of Baja California: Discovering the Great Murals of an Unknown People</em>. EE.UU.: Sunbelt Publications.</li>
  <li>Rebman, J., &amp; Roberts, N. (2012). <em>Baja California Plant Field Guide</em>. EE.UU.: San Diego Natural History Museum Publication.</li>
  <li>Santiago Guerrero, L. (2005). <em>La gente al pie del Cuchumá. Memoria histórica de Tecate</em>. México: Universidad Autónoma de Baja California.</li>
  <li>Secretaría de Turismo del Gobierno de Baja California. (2006). <em>Baja California. La tierra del tiempo detenido</em>. México: Instituto de Cultura de Baja California.</li>
</ul>

<script>
  function initMap() {
    var uluru = { lat: 31.733333, lng: -116.63333 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLgliFB3WTtiyttTc2vufDEYEBjdTmCyc&callback=initMap">
</script>
</body>
</html>
