<!--
You may use this in any way, on any site, all we ask is that you please keep the link(s) crediting the author.   Though this is not mandatory, it is certainly appreciated.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
<div id="mainContentArea">
	<div id="contentBox">
        <div id="title">Ser Humano y Medio Ambiente.</div>
        
        <div id="linkGroup">
            <div class="link"><a href="index1.html">Inicio</a></div>
            <div class="link"><a href="etica_unesco.html">UNESCO</a></div>
            <div class="link"><a href="posturas.html">Posturas</a></div>
            <div class="link"><a href="refes.html">Lecturas Recomendadas</a></div>
        </div>
        
          <div class="contentTitle">El Rol de la UNESCO en la Ética Ambiental</div>
            <div class="pageContent">
              <img src = "Logo_UNESCO.png"; img style="height:50%; width:50%; object-fit:cointain">
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>La
UNESCO (Organización de las Naciones Unidas para la Educación,
Cultura y Ciencia) se dio la tarea de generar discusiones éticas en
torno a la ciencia y la tecnología. Para ello creo la COMEST
(Comisión Mundial la Ética de la Ciencia y la Tecnología). La
organización fundada en 1998 está compuesta por 18 prestigiosos
académicos en disciplina legal, científica, cultural, filosófica
llamados por el director general de la UNESCO y exmiembros que
representan la comunidad (UNESCO, 2016). La COMEST trabaja en varios
sectores además de la ética ambiental, también en cambio
climático, biodiversidad, agua y temas de ciencia y tecnología. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Una
de las intenciones de la organización es proponer principios éticos
respecto a la ciencia y la tecnología, particularmente evitar que la
tecnología se adelante a la discusión el objetivo de poder
controlar y conocer las consecuencias de ello. Los principios éticos
propuestos son a partir de largas discusiones, no se espera que todos
los miembros lleguen a la misma conclusión o los mismos puntos de
vista, pero que las discusiones tengan puntos clave; por ejemplo, que
toda vida de un organismo tenga un valor, no implica que ese valor
sea el mismo al de un humano. Este último enunciado podrá diferir
según los miembros, no obstante intenta que la discusión pueda ser
una herramienta educativa, ya sea que se implemente en las escuelas,
o se compartan puntos de vista a las autoridades competentes en el
medio ambiente y actúen con el mejor criterio posible. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>La
UNESCO tiene los objetivos definidos que en conjunto sus actividades
promueven la discusión de la ética ambiental. De acuerdo con Have,
primero contribuye al establecimiento y a la articulación de
principios éticos. Además capacitar a las entidades responsables
para reflexionar cuestiones éticas y finalmente promover actividades
de concientización para fomentar un comportamiento ético. Esto
queda claro en tres pasos:</FONT></P>
<OL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Consultar
	con expertos en ética y filosofía sobre la ética ambiental</FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Dirigirse
	a la comunidad científica experta en medio ambiente para elaborar
	ideas y propuestas a partir de lo anterior.</FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
	<FONT SIZE=3>Incorporar a los responsables de políticas ambientales
	para llegar a un consenso sobre las propuestas del punto dos y uno.</FONT></P>
</OL>
            </div>
        </div>
	</div>
</div>
</body>
</html>
