<h3>¿Qué es la ética Ambiental?</h3>

<div class="pageContent">
  <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>La
    ética es una rama de la filosofía que se encarga de discutir el
    deber. Ética ambiental, entre tantas cosas, se refiere a las
    relaciones éticas de los seres humanos y el medio ambiente
    (Wikipedia, 2016). Es una herramienta importante que tiene el
    objetivo de discutir nuestra percepción del ecosistema y el trato
    debido. En el siguiente artículo explicaré a fondo las cuestiones
    de esta rama a partir de ejemplos, pensadores en el área,
    particularmente del libro de la UNESCO: Ética Ambiental y Políticas
    Internacionales. La intención de la ética ambiental y la UNESCO, es
    reflexionar la relación del humano con la naturaleza, apoyándose de
    hechos científicos y lógica, para poder influir en las decisiones
    políticas internacionales sobre el medio ambiente.</FONT></P>
  <p>Tongjin Yang, en un subtítulo delimita lo qué es la ética en cinco cuestiones:</p>
  <p> La ética ambiental es una nueva subdisciplina de la filosofía que trata los problemas éticos planteados en relación con la protección del medio ambiente. Su objetivo estriba en brindar una justificación ética y una motivación moral a la causa de proteger el medio ambiente global.</p>
  <img src = "images/index.jpg"; img style="height:100%; width:100%; object-fit:cointain">

</div>
<h3>El Rol de la UNESCO en la Ética Ambiental</h3>
<div class="pageContent">
  <img src = "images/Logo_UNESCO.png"; img style="height:50%; width:50%; object-fit:cointain">
  <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>La
    UNESCO (Organización de las Naciones Unidas para la Educación,
    Cultura y Ciencia) se dio la tarea de generar discusiones éticas en
    torno a la ciencia y la tecnología. Para ello creo la COMEST
    (Comisión Mundial la Ética de la Ciencia y la Tecnología). La
    organización fundada en 1998 está compuesta por 18 prestigiosos
    académicos en disciplina legal, científica, cultural, filosófica
    llamados por el director general de la UNESCO y exmiembros que
    representan la comunidad (UNESCO, 2016). La COMEST trabaja en varios
    sectores además de la ética ambiental, también en cambio
    climático, biodiversidad, agua y temas de ciencia y tecnología. </FONT>
  </P>
  <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Una
    de las intenciones de la organización es proponer principios éticos
    respecto a la ciencia y la tecnología, particularmente evitar que la
    tecnología se adelante a la discusión el objetivo de poder
    controlar y conocer las consecuencias de ello. Los principios éticos
    propuestos son a partir de largas discusiones, no se espera que todos
    los miembros lleguen a la misma conclusión o los mismos puntos de
    vista, pero que las discusiones tengan puntos clave; por ejemplo, que
    toda vida de un organismo tenga un valor, no implica que ese valor
    sea el mismo al de un humano. Este último enunciado podrá diferir
    según los miembros, no obstante intenta que la discusión pueda ser
    una herramienta educativa, ya sea que se implemente en las escuelas,
    o se compartan puntos de vista a las autoridades competentes en el
    medio ambiente y actúen con el mejor criterio posible. </FONT>
  </P>
  <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>La
    UNESCO tiene los objetivos definidos que en conjunto sus actividades
    promueven la discusión de la ética ambiental. De acuerdo con Have,
    primero contribuye al establecimiento y a la articulación de
    principios éticos. Además capacitar a las entidades responsables
    para reflexionar cuestiones éticas y finalmente promover actividades
    de concientización para fomentar un comportamiento ético. Esto
    queda claro en tres pasos:</FONT></P>
  <OL>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Consultar
      con expertos en ética y filosofía sobre la ética ambiental</FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>Dirigirse
      a la comunidad científica experta en medio ambiente para elaborar
      ideas y propuestas a partir de lo anterior.</FONT></P>
    <LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%">
      <FONT SIZE=3>Incorporar a los responsables de políticas ambientales
        para llegar a un consenso sobre las propuestas del punto dos y uno.</FONT></P>
  </OL>
</div>
<H2 CLASS="western">Perspectivas de la ética ambiental:
  Antropocentrismo y Biocentrismo</H2>
<H3 CLASS="western">Antropocentrismo</H3>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
  antropocentrismo se basa en que el hombre es superior frente a otras
  las especies y por lo tanto las consideraciones que el hombre tiene
  son respecto a su entorno, el interés por la la protección al medio
  ambiente surge por un futuro incierto consecuencia de la actividad
  humana desde la revolución industrial. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>Inicialmente,
  se concebía la naturaleza y sus recursos como ilimitados, a través
  de los años su explotación ha conllevado al desgaste de los
  ecosistemas y el agotamiento de sus recursos. Uno de los fines del
  antropocentrismo ambiental es conciliar los intereses y modificar las
  actividades humanas de manera que pueda asegurar el aprovechamiento
  de recursos en un futuro. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
  enfoque antropocentrista le da un valor a la naturaleza según su
  utilidad, ya sea económico (la madera de los árboles), social  o de
  salud (el agua dulce de los ríos). A diferencia de la postura
  biocentrista, la naturaleza no tiene un valor intrínseco, sino el
  que el hombre le reconoce y valora.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>En
  ese sentido, la visión antropocentrista va de la mano con la postura
  clásica de la ética, la relación entre hombres. Por lo tanto, la
  ética ambiental antropocentrista es para los hombres y por los
  hombres.</FONT></P>
<H3 CLASS="western">Biocentrismo</H3>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>No
  obstante, la postura biocentrista, cambia el paradigma, razón por la
  que es revolucionaria,  toma su eje central a todo el ecosistema, su
  punto de referencia al cual debe respetarse. Es decir que la vida de
  un hombre tiene el mismo valor que el de las plantas y otras
  especies. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
  hombre, según el biocentrismo, no es superior a otras especies, y su
  destino es el mismo junto con otras especies, por lo tanto el interés
  de la ética ambiental no es sólo la supervivencia del hombre, sino
  de proteger todo el ecosistema y todas las especies, por lo tanto, a
  toda la vida.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><A NAME="_GoBack"></A>
  <FONT SIZE=3>La ética ambiental biocéntrica le da un valor
    intrínseco a la naturaleza, porque la considera una potencia
    generadora de la vida (Rosales, 2009). Además, establece y asume que
    existen relaciones entre cada especie que ayudan a mantener el
    equilibrio en el planeta, por lo que su aportación a la tierra tiene
    el mismo valor que otra especie. Este respeto hacia otras especies,
    es el aspecto más importante el biocentrismo, por lo tanto exige un
    nuevo planteamiento de ética del hombre hacia otras especies.</FONT></P>
</OL>
</div>

<P STYLE="margin-bottom: 0.14in"><B>Lecturas Recomendadas</B></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  UNESCO. (2016). World commission on the ethics of scientific
  knowledge and technology. Retrieved November 3, 2016, from
  <A HREF="http://www.unesco.org/new/en/social-and-human-sciences/themes/comest/">http://www.unesco.org/new/en/social-and-human-sciences/themes/comest/</A></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <BR>
</P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <SPAN LANG="es-MX">Arribas Herguedas, F. (2006). </SPAN><SPAN LANG="es-MX"><I>Del
Valor Intrínseco de la Naturaleza</I></SPAN><SPAN LANG="es-MX">.
</SPAN>Retrieved from
  <A HREF="http://isegoria.revistas.csic.es/index.php/isegoria/article/viewFile/14/14">http://isegoria.revistas.csic.es/index.php/isegoria/article/viewFile/14/14</A></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <BR>
</P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <SPAN LANG="es-MX">Gudynas, E. (2011). </SPAN><SPAN LANG="es-MX"><I>La
senda biocéntrica: VaLores intrínsecos, derechos de la naturaLeza y
justicia ecoLógica 1 the biocentric path: Intrinsic vaLues, nature
rights and ecoLogicaL justice o percurso biocêntrico: VaLores
intrínsecos, direitos da natureza e justiça ecoLógica</I></SPAN><SPAN LANG="es-MX">.
</SPAN>Retrieved from
  <A HREF="http://www.revistatabularasa.org/numero-13/02Gudynas.pdf">http://www.revistatabularasa.org/numero-13/02Gudynas.pdf</A></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <BR>
</P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  Ibarra, G. (2009, March). <SPAN LANG="es-MX"><I>Ética del medio
ambiente</I></SPAN><SPAN LANG="es-MX">. </SPAN>Retrieved from
  <A HREF="http://www.elementos.buap.mx/num73/pdf/11.pdf">http://www.elementos.buap.mx/num73/pdf/11.pdf</A></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  <BR>
</P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%">
  ten Have, H. A. M. J. (2010). <SPAN LANG="es-MX"><I>Etica ambiental y
políticas internacionales; Etica; 2010</I></SPAN><SPAN LANG="es-MX">.
</SPAN>Retrieved from
  <A HREF="http://unesdoc.unesco.org/images/0018/001873/187309s.pdf">http://unesdoc.unesco.org/images/0018/001873/187309s.pdf</A></P>
<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
  <BR>
</P>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
</BODY>
