<iframe src="https://calendar.google.com/calendar/embed?title=Fechas%20Relativas%20al%20Medio%20Ambiente&amp;showNav=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lpe804avbdl2v3p8locnvcsb3s%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<div>

  <h3>Enlaces</h3>
  <a href="http://www.ramsar.org/es/actividad/d%C3%ADa-mundial-de-los-humedales">Febrero 2: Día Mundial de los Humedales</a> <br>
  <a href="http://www.polarbearsinternational.org/our-work/international-polar-bear-day">Febrero 27: Día Internacional del Oso Polar</a> <br>
  <a href="http://www.un.org/es/events/wildlifeday/">Marzo 3: Día Mundial de la Vida Silvestre</a> <br>
  <a href="https://www.internationalrivers.org/es/d%C3%ADa-mundial-de-acci%C3%B3n-en-defensa-de-los-r%C3%ADos">
    Marzo 14: Día Mundial de Acción en Defensa de los Ríos</a> <br>
  <a href="http://www.un.org/es/events/forestsday/">Marzo 21: Día Internacional de los Bosques</a> <br>
  <a href="http://www.un.org/es/events/waterday/">Marzo 22: Día Mundial del Agua</a> <br>
  <a href="http://www.wmo.int/worldmetday/es">Marzo 23: Día Meteorológico Mundial</a> <br>
  <a href="https://www.earthhour.org/">Marzo 25: Hora de la Tierra</a> <br>
  <a href="http://www.un.org/es/events/motherearthday/">Abril 22: Día Internacional de la Madre Tierra</a> <br>
  <a href="http://www.worldmigratorybirdday.org/">Mayo 10: Día Mundial de las Aves Migratorias</a> <br>
  <a href="http://www.un.org/es/events/biodiversityday/">Mayo 22: Día Internacional de la Diversidad Biológica</a> <br>
  <a href="http://www.un.org/es/events/environmentday/">Junio 5: Día Mundial del Medio Ambiente</a> <br>
  <a href="http://www.un.org/es/events/oceansday/">Junio 8: Día Mundial de los Océanos</a> <br>
  <a href="http://www.un.org/es/events/desertificationday/">Junio 17: Día Mundial de Lucha contra la Desertificación</a> <br>
  <a href="http://www.un.org/es/events/againstnucleartestsday/">Agosto 29: Día Internacional contra los Ensayos Nucleares
  </a> <br>
  <a href="http://www.un.org/es/events/ozoneday/">Septiembre 16: Día Internacional de la Preservación de la Capa de Ozono</a> <br>
  <a href="http://zeroemissionsday.org/">Septiembre 21: Día de las Cero Emisiones </a> <br>
  <a href="http://www.worldcarfree.net/wcfd/">Septiembre 22: Día Mundial Sin Automóvil</a> <br>
  <a href="http://www.cleanuptheworld.org/es/">Fin de Semana de Septiembre: A Limpiar el Mundo</a> <br>
  <a href="http://www.worldanimalday.org.uk/">Octubre 4: Día Mundial de los Animales</a> <br>
  <a href="http://www.fao.org/world-food-day/2016/home/es/">Octubre 16: Día Mundial de la Alimentación </a> <br>
  <a href="http://www.un.org/es/events/environmentconflictday/">Noviembre 6: Día Internacional para la Prevención
    de la Explotación del Medio Ambiente en la Guerra y los Conflictos Armados</a> <br>
  <a href="http://www.un.org/es/events/soilday/">Diciembre 5: Día Mundial del Suelo</a> <br>

</div>
