<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<div id="title">Ser Humano y Medio Ambiente.</div>
        
        <div id="linkGroup">
            <div class="link"><a href="index1.html">Inicio</a></div>
            <div class="link"><a href="etica_unesco.html">UNESCO</a></div>
            <div class="link"><a href="posturas.html">Posturas</a></div>
            <div class="link"><a href="refes.html">Lecturas Recomendadas</a></div>
        </div>
<div class="contentTitle">¿Qué es la ética Ambiental?</div>
          
            <div class="pageContent">
             <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=3>La
ética es una rama de la filosofía que se encarga de discutir el
deber. Ética ambiental, entre tantas cosas, se refiere a las
relaciones éticas de los seres humanos y el medio ambiente
(Wikipedia, 2016). Es una herramienta importante que tiene el
objetivo de discutir nuestra percepción del ecosistema y el trato
debido. En el siguiente artículo explicaré a fondo las cuestiones
de esta rama a partir de ejemplos, pensadores en el área,
particularmente del libro de la UNESCO: Ética Ambiental y Políticas
Internacionales. La intención de la ética ambiental y la UNESCO, es
reflexionar la relación del humano con la naturaleza, apoyándose de
hechos científicos y lógica, para poder influir en las decisiones
políticas internacionales sobre el medio ambiente.</FONT></P>
              <p>Tongjin Yang, en un subtítulo delimita lo qué es la ética en cinco cuestiones:</p>
                <p> La ética ambiental es una nueva subdisciplina de la filosofía que trata los problemas éticos planteados en relación con la protección del medio ambiente. Su objetivo estriba en brindar una justificación ética y una motivación moral a la causa de proteger el medio ambiente global.</p>
                <img src = "index.jpg"; img style="height:100%; width:100%; object-fit:cointain">
              
            </div>
            </body>
</html>
    