<h1 align="center">Legislación Ambiental en Baja California y México</h1>
<h3>Ley General del Equilibrio Ecológico y la Protección al Ambiente</h3>
<p>
  Fue promulgada el 28 de enero de 1988, cuenta consta de 7 capítulos y un total 204 artículos. En el capítulo I  hay que destacar el artículo tercero, en el cual se definen los conceptos básicos de la ley tales como: ambiente, áreas naturales protegidas, aprovechamiento sustentable, biodiversidad, biotecnología, cambio climático, contaminación, contaminante, contingencia ambiental, desarrollo sustentable, ecosistema, equilibrio ecológico, entre otros.
</p>
<p>
  En el capítulo II  se describen las competencias y coordinación de los gobiernos federal, estatal y municipal. Corresponde al gobierno federal diseñar y conducir la política ambiental a nivel nacional. Entre otras tareas específicas, corresponde a la Federación expedir normas oficiales mexicanas y vigilar su cumplimiento.
</p>
<p>
  Considera también la integración del Sistema Nacional de Información Ambiental y de Recursos Naturales. Designa también que corresponde a los Estados y municipios la conducción y evaluación de la política ambiental en sus respectivas jurisdicciones.
</p>
<p>
  El capítulo III señala que el Ejecutivo Federal debe formular y conducir la política ambiental tomando en cuenta que los ecosistemas son patrimonio común de la sociedad, y que deben ser aprovechados de manera que aseguren una productividad óptima y sostenida y buscando su mantenimiento y renovabilidad.

</p>
<p>
  El capítulo IV comprende lo relativo a la planeación ambiental. Se afirma que en la planeación nacional se debe incorporar la política ambiental y el ordenamiento ecológico. Se debe promover la participación de los distintos grupos sociales en la elaboración de programas cuyo objetivo sea la preservación y restauración del equilibrio ecológico y la protección del ambiente.  Para ello, es indispensable también tomar en cuenta los ecosistemas  y vocaciones de cada región.
</p>
<p>

</p>
<p>
  Los programas de ordenamiento locales se harán compatibles con el ordenamiento ecológico del territorio nacional, así como los programas de  desarrollo urbano que resulten aplicables. Si un ordenamiento ecológico local incluye un área natural protegida, debe tomar en cuenta a la Federación.
</p>
<p>
  Para garantizar la sustentabilidad de las actividades económicas, la Semarnat emitirá oficiales mexicanas en materia ambiental y para el aprovechamiento sustentable de los recursos naturales.
</p>
<h3>Ley para el aprovechamiento de energías renovables y el financiamiento de la transición energética</h3>
<p>
  Se integra de un total de 31 artículos, divididos en 4 capítulos y fue expedida el 28 de noviembre de 2008. Entre otros temas, esta ley tiene por objeto regular el aprovechamiento de las energías renovables y las tecnologías limpias para generar electricidad para la prestación de servicio público de energía eléctrica.

</p>
<p>
  Se establece que el aprovechamiento de las energías renovables y el uso de tecnologías limpias son de utilidad pública y se hará en el marco de la estrategia nacional para la transición energética. Se define también que el viento, la radiación solar, el movimiento del agua, la energía oceánica, el calor de los yacimientos geotérmicos y bioenergéticos  son considerados energías renovables.  El Ejecutivo Federal, a través de la Semarnat, ejercerá las atribuciones de coordinar el Consejo Consultivo para las Energías Renovables, observar los compromisos internacionales adquiridos por México en materia de aprovechamiento de las energías renovables, establecer y actualizar el Inventario Nacional de las Energías Renovables y elaborar y publicar el atlas nacional de zonas factibles para desarrollar proyectos generadores de energías renovables.

</p>
<p>
  Son atribuciones de la Comisión Reguladora de Energía el establecer normas, directivas, metodologías y demás disposiciones de carácter administrativo que regulen la generación de electricidad a partir de energías renovables.

</p>
<p>
  Expedir las metodologías para determinar la aportación de capacidad de generación de las tecnologías de energías renovables. Expedir las reglas generales de interconexión al Sistema Eléctrico Nacional que le deberán proponer los suministradores, escuchando la opinión de los generadores.

</p>
<p>
  Se establece la Estrategia Nacional para la Transición Energética como el mecanismo mediante el cual el Estado Mexicano impulsará las políticas, programas, acciones y proyectos encaminados  a conseguir una mayor utilización y aprovechamiento de las fuentes de energía renovables y las tecnologías limpias.

</p>
<h3>Ley de Aguas Nacionales</h3>
<p>
  Fue publicada el 1 de diciembre de 1992, consta de 124 artículos  divididos en 10 títulos.  Esta ley es reglamentaria del artículo 27 de la Constitución Política de los Estados Unidos Mexicanos en materia de aguas nacionales, y regula la explotación, uso o aprovechamiento de dichas aguas, su distribución y control, así como la preservación de su cantidad y calidad para lograr su desarrollo integral sustentable.

</p>
<p>
  Declara la ley qué se entiende por aguas nacionales, acuífero, cauce de una corriente, cuenca hidrológica, la comisión, normas, persona física o moral, ribera o zona federal, sistema de agua potable y alcantarillado, uso consuntivo, uso doméstico, vaso de lago, laguna o estero y zona de protección.

</p>
<p>
  Describe las competencias del Ejecutivo Federal, entre las que destacan expedir los decretos para el establecimiento o supresión de la veda de aguas nacionales, reglamentar el control de la extracción y utilización de las aguas del subsuelo, expedir las causas de utilidad pública de los decretos de expropiación.

</p>
<p>
  La ley también contempla que la Comisión Nacional del Agua establecerá los consejos de cuenca que serán instancias de coordinación y concertación entre la Comisión, las dependencias y entidades de las instancias federal, estatal o municipal  y los representantes de los usuarios de la respectiva cuenca hidrológica.

</p>
<p>
  Los concesionarios de derechos de agua tiene el derecho a explotar, usar o aprovechar las aguas nacionales, realizar a su costa las obras o trabajos para ejercitar el derecho de explotación, uso o aprovechamiento.

</p>
<h3>Ley de energías renovables para el estado de Baja California
</h3>
<p>
  Fue publicada el 22 de junio de 2012. Está integrada por 18 artículos, distribuidos en cinco capítulos. La ley tiene por objeto promover la coordinación, implementar y fomentar el uso y aprovechamiento de las fuentes renovables de energía en el Estado, así como impulsar la sustentabilidad energética estatal con el fin de constituirse como un instrumento de competitividad económica, que mejore las condiciones de vida de los bajacalifornianos, preservando y protegiendo el medio ambiente.

</p>
<p>
  El Estado de Baja California y los gobiernos municipales deberán fomentar el aprovechamiento de las fuentes renovables de energía, tomando en cuenta las disposiciones que el Ejecutivo Federal emita. En el Plan Estatal de Desarrollo deben incorporarse lineamientos, políticas y programas relativos al fomento de fuentes renovables de energía y sustentabilidad. Asimismo, promover la participación de los sectores académicos, social y económico en el desarrollo de proyectos para la sustentabilidad energética y el fomento al aprovechamiento de fuentes renovables de energía.

</p>
<p>
  Se establece que la Comisión Estatal de Energía de Baja California tendrá por objeto coordinar, ejecutar  y promover las acciones en materia de aprovechamiento y uso racional de recursos energéticos en el Estado, para el desarrollo eficiente y eficaz de las actividades de generación de energía, mediante fuentes convencionales y renovables.

</p>
<p>
  Se establecerá un Programa Estatal de Energía Renovables y Sustentabilidad Energética, con metas, objetivos, estrategias y acciones para la difusión, promoción, fomento, investigación y evaluación del aprovechamiento de las fuentes renovables de energía y la eficiencia energética en la entidad.

</p>
<h3>Ley de Protección al Ambiente para el Estado de Baja California
</h3>
<p>
  Publicada el 30 de noviembre de 2001, está integrada por 208 artículos, y divididos en seis capítulos. Es una ley en materia de desarrollo sustentable, prevención, preservación y restauración del equilibrio ecológico, así como la protección al ambiente del territorio del Estado.

</p>
<p>
  La ley establece las bases para garantizar el derecho de toda persona a gozar de un ambiente adecuado para su desarrollo, salud y bienestar y vigilar el cumplimiento del deber que tiene toda persona de proteger el ambiente. Establece también el sistema de gestión ambiental estatal.

</p>
<p>
  Establece las responsabilidades de las autoridades estatales y municipales en materia ambiental. Promover la creación de normas ambientales, conducir la política estatal de información y difusión en materia ambiental. Aplicar las sanciones administrativas correspondientes por infracciones a esta ley y sus reglamentos. Emitir las resoluciones que pongan fin al procedimiento de inspección y vigilancia, así como cualquier resolución que sea necesaria, de conformidad con la Ley.

</p>

