


<h3>Directorio de contacto ONGs</h3>

<div> El siguiente es un catalogo estatal de ONG's en Baja California enfocadas al desarrollo ambiental de los distintos segmentos donde podemos
  encontrar algun tipo de contaminacion; agua, tierra, aire, visual, auditiva. En la tabla podemos encontrar tanto las organizaciones como
  su objetivo principal y datos de contacto. </div>

<br>


<table class="tg" border="1">
  <tr>
    <th width="200" class="tg-031e">ONG</th>
    <th width="100" class="tg-031e">Estado</th>
    <th width="200" class="tg-031e">Objetivo</th>
    <th width="100" class="tg-031e">Contacto</th>
  </tr>
  <tr>
    <td class="tg-031e">CENTRO INTEGRAL DEL MEDIO AMBIENTE Y LA SALUD, A.C.</td>
    <td class="tg-031e">Mexicali </td>
    <td class="tg-031e">Conjuntar acciones e intereses comunes con el fin de contribuir a la protección del medio ambiente y la salud, al desarrollo económico sustentable y social de la comunidad en general y de sus integrantes en particular, rescatar sus raíces históricas y culturales, promover un nuevo horizonte en el desarrollo regional transfronterizo, y contribuir a mejorar la calidad de vida de sus integrantes y de la sociedad en general.
    </td>
    <td class="tg-031e"> <a href= "https://www.facebook.com/cimas.ac.5/about?section=bio&pnref=about"> Facebook </a>  </td>
  </tr>
  <tr>
    <td class="tg-031e">MEXISOL A.C.</td>
    <td class="tg-031e">Mexicali </td>
    <td class="tg-031e">Mexisol es una organización humanitaria que tiene como objetivo dar acceso a la energía renovable a las poblaciones desfavorecidas de México. </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/MexiSol/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">PARQUE TEMÁTICO DE LAS ENERGÍAS ALTERNAS A.C.</td>
    <td class="tg-031e">Mexicali</td>
    <td class="tg-031e">Promover el desarrollo sustentable a través de la capacitación en todos sus niveles.</td>
    <td class="tg-031e"> <a href="https://www.facebook.com/parquetematicomxl/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">MY ONLY ONE FAITHFULL FRIEND A.C.</td>
    <td class="tg-031e">Rosarito</td>
    <td class="tg-031e">El propósito de la Asociación es crear un Centro de Rescate Animal con atención
      medico-veterinaria, las 24 horas del día, los 365 días del año, absolutamente gratuita, incluyendo
      campaña de esterilización permanente.</td>
    <td class="tg-031e"> <a href="https://www.facebook.com/profile.php?id=100008208258856">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">RESCATE CIMARRONES DE TECATE A.C</td>
    <td class="tg-031e">Tecate</td>
    <td class="tg-031e"></td>
    <td class="tg-031e"> <a href="https://www.facebook.com/rescatistas/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">ARTE Y MEDIO AMBIENTE EN ARMONIA ENSENADA ARTIST ASOCIATON, A. C.</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e"> En AMAA el principal objetivo es la creación artística, más el cuidado y protección
      de nuestro ambiente, así como la difusión de la tradición artesanal, la cultura y las artes.</td>
    <td class="tg-031e"> <a href="https://www.facebook.com/arteymedioambienteenarmonia/about/?ref=page_internal">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">ASOCIACION ECOLÓGICA GREENLIFE, A.C.</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e">La asociación ecológica greenlife, a.c. ha enfocado su trabajo en el alcance de todo ciudadano
      para trabajar en ir comprometiéndola mas en los trabajos cotidianos, capacitándolos en tomar buenas decisiones
      responsables en su medio ambiente y convertir hogares limpios y un buen aire que respirar. </td>
    <td class="tg-031e"> <a href="http://asociacionecologicag.wix.com/reenlife#!quienes-somos">Pagina Web</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">COMITE ECOLÓGICO DE CHAPULTEPEC, A.C.</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e"> Nuestro labor ha sido limpiar y reforestar el arroyo El Campillo y algunas zonas de
      playa, así como vigilancia y labor social a la comunidad en general. El objetivo es convertir el arroyo
      en un parque ecológico temático, conservando la flora y fauna local.</td>
    <td class="tg-031e"> <a href="http://ecologicoc.blogspot.mx/">Blog</a><br> <a href="http://laventanadeensenada.com/reportajes/info_reportaje.php?id=276&tipo=1">Contacto</a>  </td>
  </tr>
  <tr>
    <td class="tg-031e">FUNDACIÓN APORTEMOS, A.C.</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e">Asociación Civil sin fines de lucro, dedicados a preservar, cuidar y
      proteger la Flora Nativa de Baja California con la integracion de Jóvenes, Niños, y Madres de Familia.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/Fundaci%C3%B3n-Aportemos-AC-137253049653505/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">FUNDACIÓN RAICES, A. C.</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e">Impulsamos el desarrollo comunitario, a través acciones
      que fortalezcan las capacidades de comunidades indigenas y rurales para una mejor calidad de vida.</td>
    <td class="tg-031e"> <a href="https://www.facebook.com/fundacion.raices.ac/about/?ref=page_internal">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">HACIENDO LO NECESARIO, A.C
    </td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e">Somos una organización constituida cuyo principio está basado en promover la
      educación ambiental fomentando la participación proactiva.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/Haciendo-lo-necesario-AC-114514521905941/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">INSTITUTO DE PLANEACIÓN AMBIENTAL Y  CALIDAD DE VIDA, A.C</td>
    <td class="tg-031e">Ensenada</td>
    <td class="tg-031e">Constituido en el 2008, con la misión de crear y fomentar la cultura del cuidado
      y gozo de la naturaleza de fácil acceso en los centros de población urbanos y rurales a través de la
      creación de zonas y rutas verdes conectadas utilizando la planeación del paisaje como eje central.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/inpacvi.ac/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">ALTER TERRA A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Nuestra misión es liderar la restauración, protección, conservación y desarrollo sostenible
      de las zonas costeras a través del diseño e implementación de proyectos innovadores y efectivos de divulgación
      educativa, investigación científica e infraestructura que promuevan ecosistemas terrestres y acuáticos saludables.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/alterterra/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">ALIANZA DEFENSA ANIMAL SIN FRONTERAS A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">La Misión de Alianza Defensa Animal (ADA) es parar la matanza sin sentido de los perros
      callejeros y hacer de Tijuana la primer gran ciudad de México sin matanza por medio de el control de
      la población de mascotas y cambiar el modo en que las personas interactúan con sus animales, a través de
      la cooperación entre el Gobierno, veterinarios y el publico (asociaciones pro-animales, voluntarios e individuos).
    </td>
    <td class="tg-031e"> <a href="http://www.ada.mx/quienes-somos-alianza-defensa-animal/lo-que-hacemos/">Pagina Web</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">CENTRO DE INVESTIGACION, CONSERVACION Y EDUCACION AMBIENTAL PAPALOTZIN A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">En Papalotzin estamos comprometidos con las personas y las acciones para la protección,
      conservación y mejoramiento del ambiente. Nuestra prioridad es la protección de las especies en alguna
      categoría de riesgo y de sus hábitats naturales.
    </td>
    <td class="tg-031e"> <a href="http://papalotzin-ac.blogspot.mx/">Blog</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">FUNDACION QUE TRANSFORMA A.C
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Promover y fomentar una cultura urbana proactiva enfocada al medio ambiente en niños
      y jóvenes a través de programas formativos.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/FQTransforma/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">FUNDACIÓN ANIMALISTA ÁNGELES, A.C
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Grupo de rescatistas independientes de animales en abandono que ademas trabaja en organizar campañas de
      esterilizacion a bajo costo y pláticas de concientizacion en escuelas.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/fundacionanimalistaangeles/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">NATURALUS, A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Es una asociación civil ambiental sin fines de lucro dedicada a promover la conservación
      ambiental y reciclaje para proteger los ecosistemas de Tijuana.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/NaturalusAC/about/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">PROYECTO FRONTERIZO DE EDUCACION AMBIENTAL A.C
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Impulsar conductas que contribuyan a la salud ambiental de los sistemas acuáticos con
      enfoque de cuenca y a la participación social en el rescate de su patrimonio hídrico.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/pfea.org/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">PROYECTO BIOREGIONAL DE EDUCACIÓN AMBIENTAL A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Educar a los maestros y trabajadores comunitarios para que se conviertan en administradores
      del medio ambiente; fortalecer las comunidades mediante la capacitación y la participación activa en nuestra biorregión;
      y construir relaciones entre vecinos a través del intercambio de ideas y recursos.
    </td>
    <td class="tg-031e"> <a href="http://www.sdnhm.org/education/programas-de-educacion-mexico/education-programs-mexico/">Pagina Web</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">PROYECTO AMBIENTAL EDUCATIVO AUREOLA A.C
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Generar conciencia social en el cuidado y la preservación del medio ambiente, y fometar
      la participación social en el desarrollo sustentable a traves de campañas de comuncación, donde
      la educación sea el eje fundamental.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/Proyecto-Ambiental-Educativo-Aureola-141544762571011/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">PROVIDANIMAL, A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Fundacion Pro-Animal sin fines de lucro, dedicada al activismo en pro de la abolicion
      de la explotacion de todas las especies, con el unico obetivo de rescatar, rehabilitar y dar en adopción
      animales en condicion de calle.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/ProvidAnimal.Tj/">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">POR TIJUANA LIMPIA Y SEGURA, A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Ayudar a llevar nuestra hermosa ciudad por un camino hacia el progreso, incluir y fomentar
      los valores de limpieza, orden y respeto en familias tijuanenses.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/Grupo-por-Tijuana-Limpia-y-Segura-105655206200000/?hc_ref=SEARCH">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">RED MEXICANA DE MANEJO AMBIENTAL DE RESIDUOS DE BAJA CALIFORNIA
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Promover el manejo ambientalmente adecuado de residuos en el Estado de Baja California.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/Remexmar-BC-100896353328901/?hc_ref=SEARCH">Facebook</a> </td>
  </tr>
  <tr>
    <td class="tg-031e">TIJUANA CALIDAD DE VIDA A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">Tijuana Calidad de Vida tiene como objetivos a) La promoción de la participación organizada
      de la población en las acciones que mejoren sus propias condiciones de subsistencia en beneficio
      de la comunidad y b) Promoción y fomento educativo, cultural, artístico, científico, tecnológico y ecológico.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/tijuanacalidaddevida">Facebook</a> <br>
      <a href="http://ongs.com.mx/job/tijuana-calidad-de-vida/"> Contacto</a></td>
  </tr>
  <tr>
    <td class="tg-031e">WASTELAB, A.C.
    </td>
    <td class="tg-031e">Tijuana</td>
    <td class="tg-031e">WasteLab es una iniciativa sin ánimo de lucro nacida en Tijuana para incentivar el
      reciclaje y transformar la mentalidad y las costumbres de las personas respecto al manejo de sus residuos.
    </td>
    <td class="tg-031e"> <a href="https://www.facebook.com/WasteLab.Org/?hc_ref=SEARCH">Facebook</a> </td>
  </tr>
</table>
