<!--
You may use this in any way, on any site, all we ask is that you please keep the link(s) crediting the author.   Though this is not mandatory, it is certainly appreciated.
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
<div id="mainContentArea">
	<div id="contentBox">
        <div id="title">Ser Humano y Medio Ambiente.</div>
        
        <div id="linkGroup">
            <div class="link"><a href="index1.html">Inicio</a></div>
            <div class="link"><a href="etica_unesco.html">UNESCO</a></div>
            <div class="link"><a href="posturas.html">Posturas</a></div>
            <div class="link"><a href="refes.html">Lecturas Recomendadas</a></div>
        </div>
        
        <div id="blueBox"> 
          <div id="header"></div>
          <div class="contentTitle">El Rol de la UNESCO en la Ética Ambiental</div>
            <div class="pageContent">
<H2 CLASS="western">Perspectivas de la ética ambiental:
Antropocentrismo y Biocentrismo</H2>
<H3 CLASS="western">Antropocentrismo</H3>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
antropocentrismo se basa en que el hombre es superior frente a otras
las especies y por lo tanto las consideraciones que el hombre tiene
son respecto a su entorno, el interés por la la protección al medio
ambiente surge por un futuro incierto consecuencia de la actividad
humana desde la revolución industrial. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>Inicialmente,
se concebía la naturaleza y sus recursos como ilimitados, a través
de los años su explotación ha conllevado al desgaste de los
ecosistemas y el agotamiento de sus recursos. Uno de los fines del
antropocentrismo ambiental es conciliar los intereses y modificar las
actividades humanas de manera que pueda asegurar el aprovechamiento
de recursos en un futuro. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
enfoque antropocentrista le da un valor a la naturaleza según su
utilidad, ya sea económico (la madera de los árboles), social  o de
salud (el agua dulce de los ríos). A diferencia de la postura
biocentrista, la naturaleza no tiene un valor intrínseco, sino el
que el hombre le reconoce y valora.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>En
ese sentido, la visión antropocentrista va de la mano con la postura
clásica de la ética, la relación entre hombres. Por lo tanto, la
ética ambiental antropocentrista es para los hombres y por los
hombres.</FONT></P>
<H3 CLASS="western">Biocentrismo</H3>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>No
obstante, la postura biocentrista, cambia el paradigma, razón por la
que es revolucionaria,  toma su eje central a todo el ecosistema, su
punto de referencia al cual debe respetarse. Es decir que la vida de
un hombre tiene el mismo valor que el de las plantas y otras
especies. </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><FONT SIZE=3>El
hombre, según el biocentrismo, no es superior a otras especies, y su
destino es el mismo junto con otras especies, por lo tanto el interés
de la ética ambiental no es sólo la supervivencia del hombre, sino
de proteger todo el ecosistema y todas las especies, por lo tanto, a
toda la vida.</FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.14in; line-height: 150%"><A NAME="_GoBack"></A>
<FONT SIZE=3>La ética ambiental biocéntrica le da un valor
intrínseco a la naturaleza, porque la considera una potencia
generadora de la vida (Rosales, 2009). Además, establece y asume que
existen relaciones entre cada especie que ayudan a mantener el
equilibrio en el planeta, por lo que su aportación a la tierra tiene
el mismo valor que otra especie. Este respeto hacia otras especies,
es el aspecto más importante el biocentrismo, por lo tanto exige un
nuevo planteamiento de ética del hombre hacia otras especies.</FONT></P>
</OL>
            </div>
            
        </div>
	</div>
</div>
</body>
</html>
