<!DOCTYPE html>
<html>
<body>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>

<h1>Uso de recursos naturales</h1>

<h2>Información general</h2>

<h4>Mexicali</h4>
<p>Sus costas proporcionan especies marinas y productos del mar entre los que sobresalen los señalados, además cuenta con el Río Colorado y las diversas sierras que proporcionan los recursos naturales propios de la región.</p>

<h4>Tijuana</h4>
<p>Los recursos naturales de Tijuana son aquellos integrados en la flora y fauna de la región, así como en los productos del mar característicos de los mares que le rodean.</p>

<h4>Tecate</h4>
<p>Predomina el suelo rocoso, que cubre la mayor parte del Municipio. Su fertilidad es variable, dependiendo en gran medida de la disponibilidad del agua. El de tipo Litosol, que se encuentra normalmente en las zonas montañosas del Municipio, es destinado al pastoreo y al uso forestal. El uso del suelo estaá distribuido básicamente en uso, industrial, turístico, agropecuario y área urbana. En lo que respecta al uso agrícola no se desarrolla en gran escala, ya que son más las hectáreas sembradas por temporal que por sistema de riego. </p>

<h4>Ensenada</h4>
<p>En el Municipio de Ensenada existe una gran cantidad de recursos naturales como son la minería, los recursos forestales y los provenientes de la mar. En Ensenada se encuentran 16 de las 38 minas del Estado, representando un 42.10% del total. Los productos minerales con los que cuenta el municipio son: Yeso, Barita, Sal, Caolín, Talco, Turquesa, Granito, Caliza, Cantera, Ónix, Escoria volcánica, Grava, Arena, Piedra bola, Cobre, Oro, Plata, Fierro, Magnesio, Manganeso, Cromo, Tungsteno y Cuarzo aurífero.</p>

<h4>Playas de Rosarito</h4>
<p>Los recursos naturales con que cuenta el municipio, son básicamente los provenientes del mar y los del turismo dado que es una región que vive del turismo y de la pesca.</p>

<h2>Flora</h2>
<p>Los usos tradicionales de la vegetación en Baja California son poco conocidos, sin embargo, el conocimiento de los grupos indígenas, a través de las tradiciones orales por generaciones, con relación a las propiedades curativas, alimenticias y textiles de las plantas de la región, así como los resultados de investigaciones realizadas en la entidad, han contribuido a identificar el uso de estas especies.</p>

<table style="width:100%">
  <tr>
    <td>Especies de importancia económica</td>
    <td>211</td>
  </tr>
  <tr>
    <td>Especies comestibles</td>
    <td>47%</td>
  </tr>
  <tr>
    <td>Especies para usos medicinales</td>
    <td>29%</td>
  </tr>
  <tr>
    <td>Especies para usos forrajeros</td>
    <td>10%</td>
  </tr>
  <tr>
    <td>Especies para usos industriales</td>
    <td>10%</td>
  </tr>
  <tr>
    <td>Especies para otros usos</td>
    <td>4%</td>
  </tr>
</table>


<p>Las especies con potencial de explotación se dividen en dos categorías: especies maderables y especies no maderables. Dentro de las primeras se incluyen el pino, el encino y la manzanita, que se utilizan como combustibles. Dentro de las especies no maderables se encuentran la jojoba y la palmilla, entre otras.</p>

<p>El uso referente a la agricultura tradicional se caracteriza por ser al nivel nacional, hecho sobre la base de pocos cultivos como el maíz, frijol, arroz y trigo (granos básicos); café, caña de azúcar y cebada (cultivos industriales); cebada y sorgo (forrajes); aguacate, durazno, fresa, limón, mango, manzana, naranja, plátano y uva.

<h4>Recursos forestales</h4>

<p>De acuerdo al Inventario Nacional Forestal Periódico (SARH, 1994), la superficie forestal del país alcanza 141’745,169 hectáreas (72% del territorio nacional), con una superficie arbolada de 56 millones de hectáreas y un grado de perturbación cercano al 50% de la misma. La superficie arbolada de Baja California es de 6’276,732, (4.43%) respecto al total nacional. Particularmente, para la vegetación arida, Baja California cuenta con 8.5% con respecto al total nacional.

  La producción maderable del país ha sufrido un decrecimiento constante desde 1990, destinándose a la fabricación de materiales para la construcción (60%), celulosa (17%) y el resto (23%) para durmientes, postes, empaques, chapa, triplay y otros productos. La producción no maderable se basa en la explotación de la resina de pino (53%), cera de candelilla (12%), pencas de maguey (7%), pimienta (5.5%) y fuste de yuca (7%) (Dirección General Forestal, 1997).
</p>

<h2>Fauna</h2>

<p>Existen cuatro valores básicos en la fauna silvestre: valor de uso, cambio, opción y existencia. El valor de uso consiste en el uso directo y tangible para la subsistencia como la cacería para la alimentación doméstica y obtención de partes para la manufactura de prendas. El de cambio se refiere al intercambio comercial o trueque con animales vivos, el tercero tiene que ver con los aspectos de alternativas, bienes, usos y servicios relacionados con el potencial genético de la fauna y el último, hace referencia al valor de formar parte del patrimonio natural y cultural del país.

  El aprovechamiento de la fauna silvestre es de diversos tipos como la de subsistencia, deportiva, fines comerciales (ilegal), de control de plagas o cacería ritual. La primera utiliza diferentes especies, tanto de invertebrados como de peces, anfibios, reptiles, aves y mamíferos por parte de las comunidades y grupos étnicos en zonas rurales. No hay datos precisos sobre el consumo en la población, aunque se estima que en algunas regiones puede representar hasta el 70 % de la dieta proteica humana.</p>

<h4>Valor de la producción de carne en canal por municipio según especie. (Miles de pesos)</h4>
<table style="width:100%">
  <tr>
    <th>Municipio</th>
    <th>Total</th>
    <th>Bovino</th>
    <th>Porcino</th>
    <th>Ovino</th>
    <th>Caprino</th>
    <th>Ave</th>
  </tr>
  <tr>
    <td>Estado</td>
    <td>4 350 331</td>
    <td>4 261 158</td>
    <td>28 397</td>
    <td>14 332</td>
    <td>9 315</td>
    <td>37 129</td>
  </tr>
  <tr>
    <td>Ensenada</td>
    <td>164 925 </td>
    <td>114 856</td>
    <td>10 300</td>
    <td>2 965</td>
    <td>2 795</td>
    <td>34 010</td>
  </tr>
  <tr>
    <td>Mexicali</td>
    <td>4 103 204</td>
    <td>4 080 138</td>
    <td>10 941</td>
    <td>7 250 </td>
    <td>4 875</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Playas de Rosarito</td>
    <td>21 816</td>
    <td>19 364</td>
    <td>0</td>
    <td>1 833</td>
    <td>618</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Tecate</td>
    <td>22 837</td>
    <td>22 008</td>
    <td>263</td>
    <td>300</td>
    <td>267</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Tijuana</td>
    <td>37 550</td>
    <td>24 791</td>
    <td>6 894</td>
    <td>1 985</td>
    <td>761</td>
    <td>3 120</td>
  </tr>
</table>
<n>Fuente: SAGARPA. Servicio de Información Agroalimentaria y Pesquera.</n>

<h4>Volumen de la producción de acuacultura en peso vivo y su valor por especie (2013 y 2014)</h4>
<table style="width:100%">
  <tr>
    <th>Especie</th>
    <th>Volumen de la producción en peso vivo (Toneladas)</th>
    <th>Valor de la producción (Miles de pesos)</th>
    <th> </th>
    <th> </th>
  </tr>
  <tr>
    <td> </td>
    <td>2013</td>
    <td>2014</td>
    <td>2013</td>
    <td>2014</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>7 313</td>
    <td>11 357</td>
    <td>596 624</td>
    <td>774 889</td>
  </tr>
  <tr>
    <td>Atún</td>
    <td>5 243</td>
    <td>8 310</td>
    <td>531 506</td>
    <td>726 512</td>
  </tr>
  <tr>
    <td>Camarón</td>
    <td>135</td>
    <td>321</td>
    <td>9 607</td>
    <td>15 623</td>
  </tr>
  <tr>
    <td>Ostión</td>
    <td>1 511</td>
    <td>2 157</td>
    <td>30 353</td>
    <td>11 293</td>
  </tr>
  <tr>
    <td>Abulón</td>
    <td>68</td>
    <td>22</td>
    <td>13 310</td>
    <td>4 447</td>
  </tr>
  <tr>
    <td>Corvina</td>
    <td>9</td>
    <td>19</td>
    <td>843</td>
    <td>1 214</td>
  </tr>
  <tr>
    <td>Almeja</td>
    <td>10</td>
    <td>16</td>
    <td>464</td>
    <td>619</td>
  </tr>
  <tr>
    <td>Lobina</td>
    <td>4</td>
    <td>12</td>
    <td>376</td>
    <td>358</td>
  </tr>
  <tr>
    <td>Mojarra</td>
    <td>2</td>
    <td>7</td>
    <td>39</td>
    <td>141</td>
  </tr>
  <tr>
    <td>Ornato</td>
    <td>0</td>
    <td>NS</td>
    <td>0</td>
    <td>99</td>
  </tr>
  <tr>
    <td>Jurel</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Trucha</td>
    <td>41</td>
    <td>NS</td>
    <td>4 302</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Algas</td>
    <td>12</td>
    <td>6</td>
    <td>9</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Otras</td>
    <td>279</td>
    <td>485</td>
    <td>5 813</td>
    <td>14 561</td>
  </tr>

</table>
<n>Fuente: SAGARPA. Servicio de Información Agroalimentaria y Pesquera.</n>

<h2>Suelos</h2>
<p>Aproximadamente el 40% de la superficie de la frontera de Baja California tiene uso agrícola mecanizado, 8% utiliza un uso de tracción animal y manual.

  El uso referente a la agricultura tradicional se caracteriza por ser al nivel nacional, hecho sobre la base de pocos cultivos como el maíz, frijol, arroz y trigo (granos básicos); café, caña de azúcar y cebada (cultivos industriales); cebada y sorgo (forrajes); aguacate, durazno, fresa, limón, mango, manzana, naranja, plátano y uva.</p>

<h4>Superficies sembrada y cosechada, volumen y valor de la producción agrícola por tipo de cultivo y principales cultivos. (Año agrícola 2014).</h4>
<table style="width:100%">
  <tr>
    <th>Tipo de cultivo</th>
    <th>Superficie sembrada (hectáreas)</th>
    <th>Superficie cosechada (hectáreas)</th>
    <th>Volumen (toneladas)</th>
    <th>Valor (miles de pesos)</th>
  </tr>
  <tr>
    <td>Total</td>
    <td>206 915</td>
    <td>183 898</td>
    <td>N/A</td>
    <td>12 789 6222</td>
  </tr>
  <tr>
    <td>Cultivos cíclicos</td>
    <td>163 562</td>
    <td>145 997</td>
    <td>N/A</td>
    <td>9 657 643</td>
  </tr>
  <tr>
    <td>Fresa</td>
    <td>2 273</td>
    <td>2 273</td>
    <td>145 769</td>
    <td>2 714 030</td>
  </tr>
  <tr>
    <td>Trigo grano</td>
    <td>84 735</td>
    <td>81 686</td>
    <td>520 300</td>
    <td>1 874 678</td>
  </tr>
  <tr>
    <td>Tomate rojo</td>
    <td>2 023</td>
    <td>1 999</td>
    <td>135 741</td>
    <td>1 441 152</td>
  </tr>
  <tr>
    <td>Algodón hueso</td>
    <td>29 429</td>
    <td>29 326</td>
    <td>134 822</td>
    <td>908 141</td>
  </tr>
  <tr>
    <td>Cebolla</td>
    <td>6 369</td>
    <td>5 920</td>
    <td>123 512</td>
    <td>882 588</td>
  </tr>
  <tr>
    <td>Col de Bruselas</td>
    <td>1 269</td>
    <td>1 267</td>vegetación
    <td>24 015</td>
    <td>298 303</td>
  </tr>
  <tr>
    <td>Pepino</td>
    <td>439</td>
    <td>435</td>
    <td>27 915</td>
    <td>206 323</td>
  </tr>
  <tr>
    <td>Lechuga</td>
    <td>1 270</td>
    <td>1 250</td>
    <td>16 127</td>
    <td>133 193</td>
  </tr>
  <tr>
    <td>Chile verde</td>
    <td>588</td>
    <td>583</td>
    <td>17 726</td>
    <td>125 645</td>
  </tr>
  <tr>
    <td>Cilantro</td>
    <td>887</td>
    <td>886</td>
    <td>9 894</td>
    <td>96 174</td>
  </tr>
  <tr>
    <td>Resto de los cultivos cíclicos</td>
    <td>34 282</td>
    <td>20 382</td>
    <td>570 696</td>
    <td>977 418</td>
  </tr>
  <tr>
    <td>Cultivos perennes</td>
    <td>43 353</td>
    <td>37 900</td>
    <td>N/A</td>
    <td>3 131 978</td>
  </tr>
  <tr>
    <td>Alfalfa verde</td>
    <td>27 871</td>
    <td>27 078</td>
    <td>2 199 560</td>
    <td>1 150 399</td>
  </tr>
  <tr>
    <td>Frambuesa</td>
    <td>511</td>
    <td>509</td>
    <td>8 773</td>
    <td>801 335</td>
  </tr>
  <tr>
    <td>Esparrago</td>
    <td>2 461</td>
    <td>2 320</td>
    <td>13 884</td>
    <td>447 747</td>
  </tr>
  <tr>
    <td>Uva</td>
    <td>3 938</td>
    <td>3 645</td>
    <td>24 705</td>
    <td>267 628</td>
  </tr>
  <tr>
    <td>Blueberry</td>
    <td>193</td>
    <td>192</td>
    <td>2 328</td>
    <td>215 868</td>
  </tr>
  <tr>
    <td>Resto de los cultivos perennes</td>
    <td>8 379</td>
    <td>4 157</td>
    <td>N/A</td>
    <td>249 001</td>
  </tr>
</table>
<n>Fuente: SAGARPA. Servicio de Información Agroalimentaria y Pesquera.</n>


<h4>Primeros lugares de producción a nivel nacional, en el Sector Primario</h4>
<table style="width:100%">
  <tr>
    <th>Principales productos agrícolas</th>
    <th>Producción (Toneladas)</th>
    <th>% en el total nacional</th>
    <th>Lugar nacional</th>
  </tr>
  <tr>
    <td>Cebolla</td>
    <td>205 244</td>
    <td>17.2</td>
    <td>1 de 27</td>
  </tr>
  <tr>
    <td>Frambuesa</td>
    <td>2 875</td>
    <td>98.0</td>
    <td>1 de 2</td>
  </tr>
  <tr>
    <td>Flores</td>
    <td>3 129</td>
    <td>100</td>
    <td>1 de 1</td>
  </tr>
  <tr>
    <td>Tomate rojo(jitomate)</td>
    <td>180 135</td>
    <td>8.8</td>
    <td>2 de 32</td>
  </tr>
  <tr>
    <td>Fresa</td>
    <td>82 088</td>
    <td>41.5</td>
    <td>2 de 8</td>
  </tr>
  <tr>
    <td>Algodón hueso</td>
    <td>69 411</td>
    <td>24.8</td>
    <td>2 de 6</td>
  </tr>
  <tr>
    <td>Zacate semilla</td>
    <td>1 558</td>
    <td>15.3</td>
    <td>2 de 2</td>
  </tr>
  <tr>
    <td>Dátil</td>
    <td>1 494</td>
    <td>44.8</td>
    <td>2 de 4</td>
  </tr>
  <tr>
    <td>Uva</td>
    <td>20 116</td>
    <td>7.3</td>
    <td>3 de 14</td>
  </tr>
  <tr>
    <td>Esparrago</td>
    <td>6 679</td>
    <td>10.4</td>
    <td>3 de 5</td>
  </tr>
</table>
<n>INEGI. Perspectiva Estadística. Serie por Entidad Federativa. México. </n>

<h4>Recursos minerales</h4>

<p>En Baja California existen numerosos recursos minerales, que se clasifican en metálicos y no metálicos, y por sus yacimientos minerales, se divide en cinco provincias mineras.

  Primera provincia. Son yacimientos de sulfuros mesotermales de fierro, cobre y oro, se les atribuye un origen hidrotermal relacionado con intrusiones graníticas del cretácico. Sus localidades principales son: Mina El Sueño de Oro, San Antonio, Misión San Vicente, Punta San Isidro, zona al Este de El Rosario, al Sureste de la Misión de San Fernando y El Arco.

  Segunda provincia. Corresponde a las vetas de oro en rocas metasedimentarias e ígneas distribuidas a lo largo de la península. Las principales localidades son: Real del Castillo, El Alamo, El Socorro, Valladares, el Este de San Quintín, el Noroeste de Laguna Seca Chapala, el Este de Calamajué, El Desengaño, León Grande y Mina Columbia.

  Tercera provincia. Corresponde a los depósitos de tungsteno en las siguientes localidades: La Olivia, La Pilita, Los Gavilanes, El Fenómeno, Sierra Cucapah y Sierra del Mayor.

  Cuarta provincia. Corresponde a los depósitos de travertino, sulfuros de manganeso, azufre, barita, wulfenita, estibinita, plomo, zinc y plata. La distribución de estos depósitos es muy compleja y las localidades son numerosas.

  Quinta provincia. Implica los depósitos de placer de oro, desarrollados durante el Cenozoico, con localidades en: Campo Juárez, Los Pinos y Campo Nacional, El Alamo, El Socorro, Valladares, Real del Castillo y Pozo Alemán.</p>

<h2>Agua</h2>
<p>En el país existen 37 regiones hidrológicas que se agrupan a su vez en 314 cuencas hidrológicas. En Baja California existen las siguientes regiones hidrológicas: Baja California Noroeste, Baja California Centro-Oeste, Baja California Noreste, Baja California Centro-Este y Río Colorado.</p>

<p>Baja California cuenta con cuatro cuerpos de agua: las presas Abelardo L. Rodríguez (Tijuana), El Carrizo (Tecate), Emilio López Zamora (Ensenada) y la Laguna Salada. Estas presas cuentan con una capacidad de almacenamiento de 183.9 millones de metros cúbicos de agua. Esto es apenas el 1.3% de la capacidad total de almacenamiento en la frontera.</p>

<h4>Panorama General</h4>
<p>Aguas superficiales: Alrededor de 2,100 Mm3 (casi 90% del Colorado).</p>
<p>Aguas subterráneas: Capacidad de recarga de alrededor de 1,100 Mm3</p>
<p>Mexicali, Tijuana, Rosarito y Tecate se abastecen exclusivamente de las aguas del Rio Clorado (superficiales y subterráneas)</p>
<p>De Ensenada a San Quintín se abastecen exclusivamente de aguas subterráneas.</p>

<h4>Potencial pecuario</h4>
<p>El 25.3% del territorio tiene un potencial pecuario para el desarrollo de praderas cultivadas, del cual el 51.1% es utilizado para el aprovechamiento exclusivo de la vegetación natural del ganado caprino y el 17.6% se usa para el aprovechamiento de la vegetación natural diferente al pastizal.</p>

<h4>Precio del agua (pesos)</h4>

<table style="width:100%">
  <tr>
    <th>1 metro cubico</td>
    <th>Precio</th>
  </tr>
  <tr>
    <td>Agua agrícola</td>
    <td>0.072</td>
  </tr>
  <tr>
    <td>Agua urbana</td>
    <td>6.80</td>
  </tr>
  <tr>
    <td>Agua de beber</td>
    <td>800.00</td>
  </tr>
  <tr>
    <td>Refresco</td>
    <td>7 900.00</td>
  </tr>
  <tr>
    <td>Agua muy fina</td>
    <td>12 000.00</td>
  </tr>
  <tr>
    <td>Leche</td>
    <td>9 605.00</td>
  </tr>
  <tr>
    <td>Cerveza</td>
    <td>19 000.00</td>
  </tr>
</table>
<n>UABC. El Agua en Baja California. Dr. Jesús A. Román Calleros</n>
<p></p>
</body>
</html>
